<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../dist/calendarBits.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
    <style>
        #sic {
            margin: auto;
            width: 100%;
            max-width: 1024px;
            height: 100%;
            max-height: 1024px;
        }

        .date-label {
            text-transform: uppercase;
            font-size: 18px;
            padding: 8px 16px;
        }

        .col {
            text-align: center;
            vertical-align: middle;
            padding: 20px;
            font-size: 18px;
        }

        .col-next,
        .col-prev {
            color: #aaa;
        }
    </style>
    <script>
        const app = Vue.createApp({
            template: `
                <table class="table" id="sic">
                    <thead>
                        <tr class="sic-switchers">
                            <th colspan="7">
                                <span>
                                    <button @click="getPrevYear"> &lt;&lt; Prev Year </button>
                                    <button @click="getPrevMonth"> &lt; Prev Month</button>
                                </span>
                                <span class="date-label">
                                    {{dateLabel}}
                                </span>
                                <span class="sic-switchers">
                                    <button @click="getNextMonth"> Next Month &gt; </button>
                                    <button @click="getNextYear"> Next Year &gt;&gt; </button>
                                </span>
                            </th>
                        </tr>
                        <tr class="sic-day-label">
                            <th class="col-day" v-for="day in days">{{day}}</th>
                        </tr>
                    </thead>
                    <tbody v-if="calendarValues" class="sic-dates">
                        <tr v-for="i in 6" :class="'row' + i">
                            <td v-for="j in 7"
                                :class="getColClass(calendarValues[i][j-1], j)"
                                @click="selectDate(calendarValues[i][j-1].dateValue)"
                            >
                                {{calendarValues[i][j-1].value}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            `,
            data: () => ({
                days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                formattedDateProp: {},
                selectedDate: '',
            }),
            mounted() {
                this.selectedDate = new Date();
                ClndrBits.calendar.init({
                    dateValue: this.selectedDate,
                    dateChanged: this.dateChanged
                });
            },
            computed: {
                calendarValues() {
                    return this.formattedDateProp.calendarValues;
                },
                dateProp() {
                    return this.formattedDateProp.date;
                },
                dateLabel() {
                    if (!this.formattedDateProp.date) return '';

                    return `${this.formattedDateProp.date.currentMonth.name} ${this.formattedDateProp.date.currentYear}`;
                },
                formatSelectDate() {
                    if (!this.selectedDate) return '';
                    return `${this.selectedDate.getFullYear()}-${this.selectedDate.getMonth() + 1}-${this.selectedDate.getDate()}`
                }
            },
            methods: {
                selectDate(dateValue) {
                    this.selectedDate = new Date(dateValue);
                },
                getColClass(calendarValue, index) {
                    return {
                        'col': true,
                        [`col-active`]: this.formatSelectDate === calendarValue.dateValue,
                        [`col-${index}`]: true,
                        [`col-${calendarValue.type}`]: true,
                    }
                },
                dateChanged(res) {
                    this.formattedDateProp = res;
                },
                getNextMonth() {
                    ClndrBits.calendar.getNextMonth()
                },
                getNextYear() {
                    ClndrBits.calendar.getNextYear()
                },
                getPrevMonth() {
                    ClndrBits.calendar.getPrevMonth()
                },
                getPrevYear() {
                    ClndrBits.calendar.getPrevYear()
                },
            }
        }).mount('#app');
    </script>
</body>

</html>